body{
    position: relative;
    min-width:1160px;
    padding: 0 20px;
    margin: 0;
    font-style: normal;
    font-size: 15px;
    font-family: "OpenSansLight", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: left;
    color: rgba(0,0,0,1);
}
/*
.debug form,
.debug ul,
.debug li,
.debug h1,
.debug h2,
.debug h3,
.debug ol,
.debug p,
.debug span,
.debug input,
.debug div{
    box-shadow: 0 0 1px black;
}*/
.debug .grid_div{
    position: absolute;
    top:0;
    bottom:0;
    margin-left:50%;
    width:0px;
    border-left:1px solid rgba(250,100,100,0.5);
    box-shadow: none;
}
ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgba(0,0,0,1);
    text-decoration: none;
}
.visually-hidden{
    display: none;
}
.btn {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 18px;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    overflow: hidden;
}
.btn::before {
    content: "";
    position: absolute;
    top:50%;
    left: 0;
    z-index: -1;
    display: block;
    box-shadow: 0 0 0 4px #f0c52e;
    transition-property: box-shadow;
    transition-duration: 300ms;
}
.btn:hover::before,
.btn:focus::before{
    box-shadow: 0 0 0px 20px #f0c52e;
}
.btn:active::before{
    box-shadow: 0 0 0px 20px #f0c52e; 
}
.btn:active{
    color: rgba(0, 0, 0, 0.3);
}
.navigation{
    position: relative;
    width: 1040px;
    height: 300px;
    margin: 0 auto;
    margin-top:40px;
    padding: 0 60px;
    background-color: #f7e296;
}
.navigation a{
    display: inline-block;
}
.logo-header{
    position: absolute;
    top:-20px;
    left:60px;
    width: 165px;
    height: 40px;
}
.top-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 30px;
    height: 56px;
}
.search-form{
    position: relative;
    flex: 540;
    height: 56px;
}
.search-icon{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width:316px;
    padding-left: 39px;
    line-height: 56px;
    color: rgba(0,0,0,0.3);
    letter-spacing: 0.01em;
    vertical-align: middle;
    background-image: url("../img/search.svg");
    background-position: 2px 20px;
    background-repeat: no-repeat;
}
.search-field{
    position: relative;
    z-index: 1;
    width: 315px;
    height: 52px;
    margin-left:40px;
    font-size: 15px;
    font-family: "OpenSansLight", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgba(0,0,0,1);
    letter-spacing: 0.01em;
    border: none;
    background-color: #f7e296;
    opacity: 0;
    outline: 0;
}
.btn-search{
    position: absolute;
    top:0;
    left:355px;
    display: none;
    height: 56px;
    width: 85px;
    font-size: 15px;
    font-family: "OpenSansLight", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.01em;
    border: 2px solid #000000;
    background-color: #f7e296;
    outline: 0;
}
.search-field:hover ~ .search-icon{
    color: rgba(0,0,0,0.6);
}
.search-field:focus,
.search-field:valid{
    opacity: 1;
    color: rgba(0,0,0,1);
}
.search-field:focus ~ .search-icon,
.search-field:valid ~ .search-icon{
    color: rgba(0,0,0,0);
    border-bottom:2px solid #000000;
}
.search-field:focus ~ .btn-search,
.search-field:valid ~ .btn-search{
    display: block;
}
.btn-search:hover,
.btn-search:focus{ 
    background-color: #000000;
    color:rgba(255,255,255,1);
}
.btn-search:active{
    background-color: #000000;
    color:rgba(255,255,255,0.3);
}
.profile-navigation-list{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    flex:280;
}
.profile-navigation-list-current{
    display: flex;
}
.profile-navigation-item.login-link,
.profile-navigation-item.profile-link{
    max-width: 170px;
    margin-right: 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.user-navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:220;
}
.profile-navigation-item.login-link a,
.profile-navigation-item.profile-link a,
.user-navigation-item a{
    background-repeat: no-repeat;
}
.profile-navigation-item.login-link a,
.profile-navigation-item.profile-link a,
.user-navigation-item a{
    display: inline-block;
    padding-left: 27px;
}

.profile-navigation-item.login-link a,
.profile-navigation-item.profile-link a{
    background-position: 0 4px;
    background-image: url("../img/user.svg");
}
.user-navigation-item.compare-link a{
    background-position: 7px 6px;
    background-image: url("../img/compare.svg");
}
.user-navigation-item.cart-link a{
    background-position: 4px 4px;
    background-image: url("../img/cart.svg");
}
.logo-header:hover,
.logo-header:focus,
.profile-navigation-item:hover,
.profile-navigation-item a:focus,
.user-navigation-item:hover,
.user-navigation-item a:focus{
    opacity: 0.6;
}
.logo-header:active,
.profile-navigation-item:active,
.user-navigation-item:active{
    opacity: 0.3;
}
.site-navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    font-size: 18px;
    font-family:"GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.site-navigation-list a:hover,
.site-navigation-list a:focus{
    color:rgba(0,0,0,0.6);
}
.site-navigation-list a:active{
    color:rgba(0,0,0,0.3);
}
.site-navigation-item-catalog{
    position: relative;
    flex:540;
}
.site-navigation-item-catalog a{
    padding-right: 20px;
}
.site-navigation-item-catalog::after{
    content: "";
    position: absolute;
    top:0;
    left: 230px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/plus.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}
.catalog-menu{
    position: absolute;
    top:22px;
    left: -60px;
    z-index: 1;
    display: none;
    width: 1040px;
    min-height: 110px;
    padding: 27px 60px;
    font-size: 15px;
    line-height: 36px;
    font-family: "OpenSansLight", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: none;
    letter-spacing: 0;
    background-color: #f7e296;
} 
.catalog-menu-list{
    flex-basis: 240px;
} 
.site-navigation-item-catalog:hover .catalog-menu,
.site-navigation-item-catalog a:focus ~ .catalog-menu{
    display: flex;
}  
.site-navigation-item-delivery{
    flex:160;
}
.site-navigation-item-warranty{
    flex:160;
}
.site-navigation-item-contacts{
    flex:184;
    text-align: right;
    margin-right: -0.2em;
} 
.slider{
    position: relative;
    width: 1160px;
    margin: 0 auto;
    margin-top: -126px;
    margin-bottom: 104px;
}
.slider-box{
    position: relative;
}
.slider-controls{
    position: absolute;
    bottom:146px;
    right: 83px;
}
.slider-controls label{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 18px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 1px #000000;
    border-radius: 50%;
}
.slider-controls label:last-child{
    margin-right: 0
}
#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"],
#slide-3:checked ~ .slider-controls label[for="slide-3"]{
    box-shadow: 0 0 0 1px #000000, inset 0 0 0 1px #000000;
}
#slide-1:checked ~ .slider-list .slider-item:first-child{
    display: flex;
}
#slide-2:checked ~ .slider-list .slider-item:nth-child(2){
    display: flex;
}
#slide-3:checked ~ .slider-list .slider-item:last-child{
    display: flex;
}
.slider-item{
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1160px;
}
.slider-item-photo{
    margin: 0 auto;
    margin-top:15px;
}
.slider-item-content{
    flex-basis: 560px;
    padding-left: 40px;
}
.slider-title{
    position: relative;
    min-height: 205px;
    margin: 0;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.03em;
}
.slider-title-number{
    position: absolute;
    top:0;
    right: 50px;
    font-size: 179px;
    line-height: 179px;
    color:  white;
}
.slider-title::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 100px;
    border-top: 8px solid white;
}
.slider-title-caption{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 47px;
    line-height: 55px;
}
.slider-description{
    min-height: 70px;
    margin-top: 20px;
    margin-bottom: 32px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #464646;
}
.btn.btn-slider{
    width: 220px;
    margin-bottom: 53px;
}
.btn.btn-slider::before{
    width: 220px;
}  
.slider-specification{
    border-collapse: collapse;
    letter-spacing: 0.01em;
}
.slider-specification tr:first-child{
    height: 35px;
}
.slider-specification tr:last-child{
    height: 40px;
}
.slider-specification td:first-child{
    width: 160px;
} 
.slider-specification td:nth-child(2){
    width: 140px;
}   
.slider-specification td{
    padding: 0;
    font-size: 36px;
    font-family: "GilroyLight", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}
.slider-specification th{
    font-size: 13px;
    color: #464646;
} 
.popular{
    margin-bottom: 73px;
}
.popular-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.popular-item-link{
    position: relative;
    display: block;
    width: 160px;
    height: 90px;
    padding-top:160px;
}
.popular-item-title{
    margin: 0;
    margin-top: 34px;
    font-size: 18px;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.01em;
}
.popular-item-title::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}
.popular-item-title::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
}
.popular-item-title.popular-item-title-1::after{
    background-image: url("../img/popular-1.svg");
    background-position: 50% 50%;
}
.popular-item-title.popular-item-title-2::after{
    background-image: url("../img/popular-2.svg");
    background-position: 50% 95%;
}
.popular-item-title.popular-item-title-3::after{
    background-image: url("../img/popular-3.svg");
    background-position: 55% 50%;
}
.popular-item-title.popular-item-title-4::after{
    background-image: url("../img/popular-4.svg");
    background-position: 55% 53%;
}
.popular-item-title.popular-item-title-5::after{
    background-image: url("../img/popular-5.svg");
    background-position: 53% 53%;
}
.popular-item-title.popular-item-title-6::after{
    background-image: url("../img/popular-6.svg");
    background-position: 50% 53%;
}
.popular-item-link:hover .popular-item-title::before,
.popular-item-link:focus .popular-item-title::before,
.popular-item-link:active .popular-item-title::before{
    background-color: #f0c52e;
}
.popular-item-link:active .popular-item-title,
.popular-item-link:active .popular-item-title::after{
    opacity: 0.3;
}
.services{
    position: relative;
    min-height: 286px;
    padding-bottom:70px;
    margin-bottom: 93px;
}
.services::after{
    content: "";
    position: absolute;
    z-index: -1;
    top:100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5e5;
}
.services-slider-box{
    display: flex;
    flex-direction: row;
    width: 1160px;
    margin: 0 auto;
    min-height: 318px;
}
.services-slider-controls{
    flex: 277;
    padding-top: 80px;
    padding-bottom: 65px;
    border-right: 7px solid #000000;
}
.btn.btn-service{
    z-index: 1;
    width: 160px;
    margin-bottom:24px;   
}
.btn.btn-service:last-child{
    margin-bottom:0;
}
.btn.btn-service::before{
    width: 160px;
}
.btn.btn-service::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    width: 280px;
    height: 40px;
    background-color: #000000;
} 
.btn.btn-service:active{
    color: rgba(0, 0, 0, 1);    
}

#service-slide-1:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-1"],
#service-slide-2:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-2"],
#service-slide-3:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-3"]{
    color: #f7e184;
    overflow: visible; 
}
#service-slide-1:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-1"]::before,
#service-slide-2:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-2"]::before,
#service-slide-3:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-3"]::before{
    display: none;
}
#service-slide-1:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-1"]::after,
#service-slide-2:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-2"]::after,
#service-slide-3:checked ~ .services-slider-controls .btn.btn-service[for="service-slide-3"]::after{
    display: block;
}
#service-slide-1:checked ~ .services-slider-list .services-slider-item-delivery{
    display: block;
}
#service-slide-2:checked ~ .services-slider-list .services-slider-item-warranty{
    display: block;
}
#service-slide-3:checked ~ .services-slider-list .services-slider-item-credit{
    display: block;
}
.services-slider-list{
    flex: 883;
}
.services-slider-item{
    display: none;
    padding-top: 68px;
    padding-bottom: 20px;
    padding-left:118px;
    padding-right: 300px;
    background-repeat: no-repeat;
}
.services-slider-item.services-slider-item-delivery{
    background-position: 675px 85px;
    background-image: url("../img/delivery.svg");
}
.services-slider-item.services-slider-item-warranty{
    background-position: 660px 60px;
    background-image: url("../img/warranty.svg");
}
.services-slider-item.services-slider-item-credit{
    background-position: 650px 60px;
    background-image: url("../img/credit.svg");
}
.services-slider-item h3{
    margin: 0;
    margin-bottom: 26px;
    font-size: 47px;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.02em;
}
.services-slider-item p{
    margin: 0;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #464646;
}
.brandname {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 97px;
}
.brand-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brand-item a{
    filter: grayscale(100%);
    opacity: 0.2;
    transition-property: filter, opacity;
    transition-duration: 300ms;
}
.brand-item a:hover,
.brand-item a:focus{
    filter: grayscale(0%);
    opacity: 1;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 81px;
}
.btn.btn-about,
.btn.btn-feedback{
    width: 260px;
}
.btn.btn-about::before,
.btn.btn-feedback::before{
    width: 260px;
}
.about {
    flex-basis: 480px;
}
.contacts {
    flex-basis: 560px;
}
.about,
.contacts {
    position: relative;
}
.about::before,
.contacts::before {
    content: "";
    position: absolute;
    top:-7px;
    left: 0;
    width: 80px;
    border-top: 7px solid black;
}
.about h2,
.contacts h2 {
    margin-left: -2px;
    margin-bottom: 39px;
    font-size: 47px;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.01em;
}
.about p,
.contacts p {
    line-height: 30px;
    margin-left: -2px;
    letter-spacing: 0.01em;
    color: #464646;
}

.about p {
    margin-bottom:30px;
}
.contacts p {
    margin-bottom:36px;
}
.transport-company-list{
    margin-top: 65px;
    margin-bottom: 55px;
    padding-left: 35px;
    line-height: 40px;
    font-size: 16px;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}
.map{
    width: 560px;
    height: 220px;
    margin-bottom: 74px;
    background-image: url("https://static-maps.yandex.ru/1.x/?lang=ru_RU&ll=37.528388%2C55.687772&l=map&size=560%2C220&z=15"); 
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.map iframe {
    border: none;
}
footer{
    color: #ffffff;
    background-color: #464646;
} 
footer a{
    color: #ffffff;
}
.wrapper-footer{
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 66px;
} 
.wrapper-footer:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 79px;
    display: block;
    width: 80px;
    border-top: 7px solid #ffc600;
}
.top-footer,
.middle-footer,
.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.top-footer{
    margin-bottom: 30px;
}
.logo-footer{
    flex: 800;
    display: block;
    width: 165px;
    height: 40px;
} 
.footer-profile-navigation-list{
    flex: 120;
    display: none;
    line-height: 26px;
}
.footer-profile-navigation-list-current{
    display:flex;
}
.footer-user-navigation-list{
    flex: 240;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 26px;
}
.footer-profile-navigation-item{
    padding-left:62px;
}
.footer-user-navigation-item{
    padding-left:48px;
}
.footer-profile-navigation-item,
.footer-user-navigation-item{
    background-repeat: no-repeat;
}
.footer-profile-navigation-item.login-link,
.footer-profile-navigation-item.logout-link{
    background-position: 35px 7px;
    background-image: url("../img/user2.svg");
}
.footer-user-navigation-item.compare-link{
    background-position: 28px 9px;
    background-image: url("../img/compare2.svg");
}
.footer-user-navigation-item.cart-link{
    background-position: 26px 7px;
    background-image: url("../img/cart2.svg");
}
.middle-footer{
    margin-bottom: 63px;
}
.middle-footer p{
    flex:360;
    margin: 0;
}
.middle-footer p:last-child{
    text-align: right;
}
.footer-site-navigation-list{
    flex: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3px;
    font-size: 18px;
    font-family: "GilroyExtraBold", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
}
.footer-site-navigation-item:first-child {
    margin-left:-4px;
    margin-right: 2px;
}
.footer-site-navigation-item:last-child {
    margin-right: -8px;
}
.bottom-footer {
    justify-content: flex-end;
} 
.social-list{
    flex: 650px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.social-item{
    margin-right:22px;
}
.social-item:last-child{
    margin-right:0;
}
.social-btn{
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}
.social-btn-fb{
    background-image: url("../img/fb.svg");
}
.social-btn-in{
    background-image: url("../img/in.svg");
}
.social-btn-tw{
    background-image: url("../img/twitter.svg");
}
.academy{
    display: block;
    flex:510;
    width: 28px;
    height: 34px;
    font-size: 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: url("../img/logo-html.svg");
}