@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 9px;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;
  overflow: hidden;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -1;
  display: block;
  box-shadow: 0 0 0 4px rgba(240, 197, 46, 1);
  transition-property: box-shadow;
  transition-duration: 300ms;
}

.btn:hover::before,
.btn:focus::before {
  box-shadow: 0 0 0px 20px rgba(240, 197, 46, 1);
}

.btn:active::before {
  box-shadow: 0 0 0px 20px rgba(240, 197, 46, 1);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-navigation {
  width: 1040px;
  min-height: 185px;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, transparent 20px, rgba(247, 226, 150, 1) 20px);
}

.navigation {
  display: flex;
  flex-direction: column;
}

.logo-header {
  width: 164px;
  height: 38px;
  margin-bottom: 9px;
}

.logo-header:hover,
.logo-header:focus {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.6;
}

.user-navigation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 29px;
}

.search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 440px;
  min-height: 57px;
  margin-right: 100px;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.search-form span {
  position: absolute;
  left: 1px;
  top: 33%;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.search-form input {
  flex: 1;
  padding-left: 38px;
  font: inherit;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(247, 226, 150, 0);
  border: none;
}

.search-form button {
  min-width: 75px;
  max-width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  font: inherit;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(247, 226, 150, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  word-break: break-all;
  visibility: hidden;
}

.search-form input::-webkit-input-placeholder,
.search-form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-moz-placeholder,
.search-form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-moz-placeholder,
.search-form textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-ms-input-placeholder,
.search-form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:focus,
.search-form input:valid {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.search-form input:hover::-webkit-input-placeholder,
.search-form textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-moz-placeholder,
.search-form textarea:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-moz-placeholder,
.search-form textarea:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-ms-input-placeholder,
.search-form textarea:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus~button,
.search-form input:valid~button {
  visibility: visible;
}

.search-form button:hover,
.search-form button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 1);
}

.profile-navigation-list,
.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-navigation-list {
  display: none;
  flex-direction: row;
  align-items: center;
  width: 260px;
  margin-right: 20px;
}

.profile-navigation-list-current {
  display: flex;
}

.user-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.profile-navigation-item a,
.user-navigation-item a {
  position: relative;
  padding-left: 26px;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  letter-spacing: 0.15px;
  word-break: break-all;
}

.profile-navigation-item a::before,
.user-navigation-item a::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login-link a::before,
.profile-link a::before {
  left: -1px;
  top: 2px;
  background-image: url("../img/user.svg");
}

.compare-link a::before {
  left: 4px;
  top: 3px;
  background-image: url("../img/compare.svg");
}

.cart-link a::before {
  left: 1px;
  top: 2px;
  background-image: url("../img/cart.svg");
}

.profile-navigation-item a:hover,
.profile-navigation-item a:focus,
.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-item-current a,
.profile-navigation-item a:active,
.user-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-navigation-item a:hover::before,
.user-navigation-item a:hover::before,
.profile-navigation-item a:focus::before,
.user-navigation-item a:focus::before {
  opacity: 0.6;
}

.profile-navigation-item a:active::before,
.user-navigation-item a:active::before {
  opacity: 0.3;
}


/*************Альтернативный способ оживления*****************************/


/* .profile-navigation-item a:hover,
.profile-navigation-item a:focus,
.user-navigation-item a:hover,
.user-navigation-item a:focus {
  opacity: 0.6;
}

.profile-navigation-item a:active,
.user-navigation-item a:active {
  opacity: 0.3;
} */

.site-navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  width: 160px;
}

.site-navigation-item-catalog {
  position: relative;
  width: 250px;
  margin-right: 293px;
  margin-left: -1px;
}

.site-navigation-item-catalog::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.site-navigation-item-warranty {
  margin-right: 27px;
}

.site-navigation-item-contacts {
  text-align: right;
  margin-right: -3px;
}

.site-navigation-item a {
  letter-spacing: 3.6px;
  text-transform: uppercase;
  word-break: break-all;
}

.site-navigation-item a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-menu-list {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 640px;
  margin: 0;
  margin-left: -60px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 460px;
  list-style: none;
  visibility: hidden;
  background-color: rgba(247, 226, 150, 1);
}

.site-navigation-item-catalog:hover .catalog-menu-list,
.site-navigation-item-catalog a:focus~.catalog-menu-list {
  visibility: visible;
}

.catalog-menu-item {
  width: 200px;
}

.catalog-menu-item:nth-child(3n+1) {
  margin-right: 40px;
}

.catalog-menu-item:last-child {
  margin-right: 200px;
}

.catalog-menu-item a {
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
  word-break: break-all;
}

.catalog-menu-item a:hover,
.catalog-menu-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu-item a:active,
.catalog-menu-item.catalog-menu-item-current a {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  min-height: 500px;
  background-image: linear-gradient(to bottom, rgba(247, 226, 150, 1) 112px, transparent 112px);
  overflow: hidden;
}

.slider-list {
  display: flex;
  flex-direction: row;
  width: 300%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.slider-item {
  display: flex;
  flex-direction: row-reverse;
  width: 1160px;
}

.slider-item-content {
  width: 561px;
  margin-left: 38px;
}

.slider-item-title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.slider-item-title::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 1px;
  display: block;
  width: 100px;
  border-top: 7px solid rgba(255, 255, 255, 1);
}

.slider-title-number {
  align-self: flex-end;
  width: 210px;
  margin-right: 46px;
  margin-top: -12px;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 1.79px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
}

.slider-title-caption {
  margin-top: -86px;
  font-size: 47px;
  letter-spacing: 0.47px;
}

.slider-item-description {
  width: 480px;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 1);
}

.slider-navigation {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 52px;
}

.btn.btn-slider,
.btn.btn-slider::before {
  width: 220px;
  margin-left: 2px;
}

.slider-controls {
  padding-top: 8px;
  margin-left: 178px;
}

.slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 18px;
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.radio-slide-1:checked~.slider-list .slider-controls label[for="slide-1"],
.radio-slide-2:checked~.slider-list .slider-controls label[for="slide-2"],
.radio-slide-3:checked~.slider-list .slider-controls label[for="slide-3"] {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1), inset 0 0 0 1px rgba(0, 0, 0, 1);
}

.radio-slide-1:checked~.slider-list {
  transform: translateX(0);
}

.radio-slide-2:checked~.slider-list {
  transform: translateX(-1160px);
}

.radio-slide-3:checked~.slider-list {
  transform: translateX(-2320px);
}

.slider-item-specification {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.count-1 {
  width: 160px;
}

.count-2 {
  width: 320px;
}

.count-3 {
  width: 480px;
}

.slider-item-specification dt {
  order: 2;
  width: 160px;
  margin: 0;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: rgba(70, 70, 70, 1);
}

.slider-item-specification dd {
  order: 1;
  width: 160px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  word-break: break-all;
}

.slider-item-specification dt:nth-of-type(2),
.slider-item-specification dd:nth-of-type(2) {
  width: 138px;
}

.slider-item-photo {
  margin: 0 auto;
  align-self: center;
}

.popular {
  min-height: 250px;
  margin-top: 94px;
  margin-bottom: 72px;
}

.popular-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-item a {
  position: relative;
  display: block;
  min-height: 30px;
  padding-top: 195px
}

.popular-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: rgba(247, 226, 150, 1);
}

.popular-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
}

.popular-link-1::after {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 49%;
}

.popular-link-2::after {
  background-image: url("../img/popular-2.svg");
  background-position: 51% 91%;
}

.popular-link-3::after {
  background-image: url("../img/popular-3.svg");
  background-position: 55% 51%;
}

.popular-link-4::after {
  background-image: url("../img/popular-4.svg");
  background-position: 52% 52%;
}

.popular-link-5::after {
  background-image: url("../img/popular-5.svg");
  background-position: 53% 50%;
}

.popular-link-6::after {
  background-image: url("../img/popular-6.svg");
  background-position: 45% 53%;
}

.popular-item h3 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.popular-item a:hover::before,
.popular-item a:focus::before,
.popular-item a:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item a:active::after {
  opacity: 0.3;
}

.services {
  min-height: 30px;
  background-image: linear-gradient(to bottom, transparent 100px, rgba(229, 229, 229, 1) 100px);
}

.service-slider-box {
  display: flex;
  flex-direction: row;
}

.service-slider-control {
  display: flex;
  flex-direction: column;
  width: 276px;
  padding-top: 80px;
  padding-bottom: 47px;
  margin-bottom: 68px;
  margin-left: 1px;
  border-right: 7px solid rgba(0, 0, 0, 1);
}

.btn.btn-service,
.btn.btn-service::before {
  width: 160px;
}

.btn-service {
  margin-bottom: 24px;
}

.btn.btn-service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  width: 280px;
  height: 40px;
  background-color: rgba(0, 0, 0, 1);
}

.services-slider-contenet {
  width: 760px;
  margin-left: 117px;
  overflow: hidden;
}

.services-slider-list {
  display: flex;
  flex-direction: row;
  width: 300%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider-item {
  width: 760px;
  background-repeat: no-repeat;
}

.services-slider-item-delivery {
  background-image: url("../img/delivery.svg");
  background-position: 556px 85px;
}

.services-slider-item-warranty {
  background-image: url("../img/warranty.svg");
  background-position: 540px 60px;
}

.services-slider-item-credit {
  background-image: url("../img/credit.svg");
  background-position: 533px 61px;
}

.services-slider-item h3 {
  margin-top: 69px;
  margin-bottom: 26px;
  font-size: 47px;
  letter-spacing: 0.47px;
}

.services-slider-item p {
  width: 460px;
  padding-bottom: 40px;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(70, 70, 70, 1);
}

.button-slide-delivery:checked~.service-slider-control .btn[for="service-slide-1"],
.button-slide-warranty:checked~.service-slider-control .btn[for="service-slide-2"],
.button-slide-credit:checked~.service-slider-control .btn[for="service-slide-3"] {
  color: #f7e184;
  overflow: visible;
}

.button-slide-delivery:checked~.service-slider-control .btn[for="service-slide-1"]::after,
.button-slide-warranty:checked~.service-slider-control .btn[for="service-slide-2"]::after,
.button-slide-credit:checked~.service-slider-control .btn[for="service-slide-3"]::after {
  display: block;
}

.button-slide-delivery:checked~.service-slider-control .btn[for="service-slide-1"]::before,
.button-slide-warranty:checked~.service-slider-control .btn[for="service-slide-2"]::before,
.button-slide-credit:checked~.service-slider-control .btn[for="service-slide-3"]::before {
  display: none;
}

.button-slide-delivery:checked~.services-slider-contenet .services-slider-list {
  transform: translate(0);
}

.button-slide-warranty:checked~.services-slider-contenet .services-slider-list {
  transform: translate(-760px);
}

.button-slide-credit:checked~.services-slider-contenet .services-slider-list {
  transform: translate(-1520px);
}

.btn.btn-service:active {
  color: rgba(0, 0, 0, 1);
}

.brandname {
  margin-top: 95px;
  margin-bottom: 97px;
}

.brand-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-link {
  display: inline-block;
  width: 260px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 260px 100px;
}

.brand-logo-1 {
  background-image: url("../img/logo-grey-1.png");
}

.brand-logo-2 {
  background-image: url("../img/logo-grey-2.png");
}

.brand-logo-3 {
  background-image: url("../img/logo-grey-3.png");
}

.brand-logo-4 {
  background-image: url("../img/logo-grey-4.png");
}

.brand-link img {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
}

.brand-link:hover img,
.brand-link:focus img {
  opacity: 1;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 570px;
  margin-bottom: 76px;
}

.about {
  position: relative;
  width: 475px;
  padding-right: 125px;
}

.about h2 {
  margin-left: -2px;
  font-size: 47px;
  letter-spacing: 0.47px;
}

.about p {
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  color: rgba(70, 70, 70, 1);
}

.transport-company-list {
  margin-top: 66px;
  margin-bottom: 55px;
  padding-left: 35px;
  list-style: none;
}

.transport-company-list li {
  font-size: 16px;
  line-height: 40px;
}

.contacts {
  position: relative;
  width: 560px;
}

.contacts h2 {
  margin-left: -2px;
  font-size: 47px;
  letter-spacing: 0.47px;
}

.contacts p {
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  color: rgba(70, 70, 70, 1);
}

.map {
  display: block;
  width: 560px;
  height: 220px;
  margin-bottom: 70px;
  background-color: rgba(229, 229, 229, 1);
  background-image: url("https://static-maps.yandex.ru/1.x/?lang=ru_RU&ll=37.528388%2C55.687772&l=map&size=560%2C220&z=15");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.map iframe {
  border: none;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 80px;
  border-top: 7px solid rgba(0, 0, 0, 1);
}

.btn.btn-info {
  margin-left: 1px;
}

.btn.btn-info,
.btn.btn-info::before {
  width: 260px;
}

.footer-navigation {
  min-height: 190px;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-bottom: 20px;
  background-color: rgba(70, 70, 70, 1);
}

.top-navigation,
.middle-navigation,
.bottom-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-navigation,
.middle-navigation {
  justify-content: space-between;
}

.bottom-navigation {
  justify-content: flex-end;
}

.logo-footer {
  display: inline-block;
  width: 162px;
  height: 36px;
}

.footer-navigation a {
  color: rgba(255, 255, 255, 1);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.logo-footer:hover,
.logo-footer:focus {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.6;
}

.footer-user-navigation-list {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-navigation-list-current {
  display: flex;
}

.footer-user-navigation-item {
  position: relative;
  padding-left: 31px;
  margin-top: -4px;
}

.footer-user-navigation-item a {
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation-item a::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-login-link a::before,
.footer-logout-link a::before {
  left: 4px;
  top: 9px;
  background-image: url("../img/user2.svg");
}

.footer-compare-link a::before {
  left: 8px;
  top: 10px;
  background-image: url("../img/compare2.svg");
}

.footer-cart-link a::before {
  left: 7px;
  top: 9px;
  background-image: url("../img/cart2.svg");
}

.footer-user-navigation-item a:hover,
.footer-user-navigation-item a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.middle-navigation {
  margin-top: 29px;
  margin-bottom: 60px;
}

.footer-navigation p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.footer-site-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 427px;
  margin: 0;
  margin-top: 10px;
  margin-left: -39px;
  padding: 0;
  list-style: none;
}

.footer-site-navigation-item a {
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.bottom-navigation {
  position: relative;
}

.bottom-navigation::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  display: block;
  width: 80px;
  border-top: 7px solid rgba(255, 198, 0, 1);
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.academy {
  display: inline-block;
  width: 30px;
  margin-left: 470px;
}

.modal {
  position: relative;
  width: 960px;
  min-height: 560px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.feedback-form {
  padding: 90px 100px;
  box-shadow: 60px 0 40px -60px rgba(4, 6, 6, 0.75), -60px 0 40px -60px rgba(4, 6, 6, 0.75), 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.feedback-form p {
  margin: 0;
  margin-bottom: 30px;
}

.feedback-form p:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-form label {
  width: 360px;
  line-height: 18px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  padding-left: 20px;
  margin-top: 5px;
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 340px;
  height: 50px;
}

.feedback-form textarea {
  width: 740px;
  min-height: 155px;
  padding-top: 20px;
  resize: none;
}

.feedback-form input,
.feedback-form textarea {
  font-size: 14px;
  font-weight: 400;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 18px;
  color: rgba(70, 70, 70, 1);
  background-color: rgba(229, 229, 229, 0.5);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: rgba(229, 229, 229, 0);
  box-shadow: inset 0 0 0 3px #f0c52e;
}


/*
.feedback-form input:invalid,
.feedback-form textarea:invalid {
    background-color: rgba(237,181,181,0.5);
}*/

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:-moz-placeholder,
.feedback-form textarea:-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.btn.btn-send,
.btn.btn-send::before {
  width: 200px;
}

.modal-map {
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-image: url("https://static-maps.yandex.ru/1.x/?lang=ru_RU&ll=37.528388%2C55.687772&l=map&size=960%2C560&z=15");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal-map iframe {
  border: none;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 0;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}


/****************************************Страница раздела каталога****************************************/

.content h1 {
  margin-top: 32px;
  margin-bottom: 15px;
  margin-left: 60px;
  font-size: 47px;
  letter-spacing: 0.47px;
}

.breadcrumb-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  margin-left: 60px;
  list-style: none;
}

.breadcrumb-item {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb-item a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb-item a::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  display: block;
  width: 4px;
  height: 4px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg);
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.bg-wrapper {
  position: relative;
}

.bg-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px);
  background-repeat: no-repeat;
}

.bg-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-image: linear-gradient(to bottom, #eeeeee 70px, #ffffff 70px);
  background-repeat: no-repeat;
}

.contant-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.filters {
  width: 200px;
  padding-left: 60px;
  padding-right: 70px;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px);
}

.filters h2 {
  padding-top: 12px;
  padding-bottom: 13px;
  margin-bottom: 96px;
  font-size: 16px;
  letter-spacing: 3.9px;
  text-transform: uppercase;
}

.filters-form fieldset {
  padding: 0;
  border: none;
}

.filters-form legend {
  position: relative;
  margin-left: -2px;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.filters-form legend::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  display: block;
  width: 200px;
  border-top: 2px solid rgba(0, 0, 0, 1);
}

.filter-price {
  min-height: 140px;
}

.range-controls {
  position: relative;
  width: 200px;
  height: 40px;
  margin-top: 35px;
}

.scale {
  margin-top: 12px;
  height: 2px;
  background: rgba(219, 219, 219, 1);
}

.bar {
  height: 2px;
  background-color: rgba(145, 201, 47, 1);
  width: 110px;
}

.toggle {
  position: absolute;
  top: -9px;
  min-width: 50px;
  height: 45px;
  cursor: pointer;
}

.toggle label {
  display: block;
  width: 4px;
  height: 4px;
  border: 8px solid rgba(255, 255, 255, 1);
  background: rgba(219, 219, 219, 1);
  cursor: pointer;
  border-radius: 50%;
}

.max-toggle label {
  margin: 0 auto;
}

.min-toggle {
  left: -6px;
}

.max-toggle {
  left: 85px;
}

.toggle input {
  width: 40px;
  height: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.27px;
  color: rgba(0, 0, 0, 0.2);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.toggle span {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.27px;
  color: rgba(0, 0, 0, 0.2);
}

.filter-color {
  min-height: 285px;
}

.color-list {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  list-style: none;
}

.color-list-item {
  position: relative;
  padding-left: 37px;
}

.color-list-item label {
  font-size: 14px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.color-list-item label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}

.color-list-item label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  display: none;
  width: 17px;
  height: 8px;
  border-left: 4px solid rgba(0, 0, 0, 1);
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  box-shadow: 0 3px 1px -1px rgba(255, 255, 255, 1), inset 0 -3px 1px -1px rgba(255, 255, 255, 1);
}

.checkbox-black:checked~label[for="color-black"]::after,
.checkbox-white:checked~label[for="color-white"]::after,
.checkbox-blue:checked~label[for="color-blue"]::after,
.checkbox-red:checked~label[for="color-red"]::after,
.checkbox-pink:checked~label[for="color-pink"]::after {
  display: block;
}

.filter-bluetooth {
  min-height: 152px;
}

.bluetooth-list {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  list-style: none;
}

.bluetooth-list-item {
  position: relative;
  padding-left: 37px;
}

.bluetooth-list-item label {
  font-size: 14px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.bluetooth-list-item label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  display: block;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 1);
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 1);
}

.radio-bluetooth-has:checked~label[for="bluetooth-has"]::before,
.radio-bluetooth-has-not:checked~label[for="bluetooth-has-not"]::before {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 1);
}

.btn.btn-filter,
.btn.btn-filter::before {
  width: 200px;
}

.catalog {
  width: 760px;
  padding-left: 70px;
  background-image: linear-gradient(to bottom, #eeeeee 70px, #ffffff 70px);
}

.sort-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 68px;
  margin-bottom: 70px;
}

.sort-field h3 {
  width: 202px;
  margin: 0;
  font-size: 16px;
  letter-spacing: 3.9px;
  text-transform: uppercase;
}

.sort-by-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-by-item {
  margin-right: 29px;
}

.sort-by-item a {
  font-size: 14px;
  font-weight: 400;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-item a:hover,
.sort-by-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-by-item a:active,
.sort-by-item.sort-by-item-current a {
  color: rgba(0, 0, 0, 1);
}

.sort-order-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-order-item a {
  font-size: 0;
  font-weight: 400;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-order-item-current a {
  color: rgba(0, 0, 0, 1);
}

.sort-order-item a:hover,
.sort-order-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-order-item a:active,
.sort-order-item.sort-order-item-current a {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 360px;
  min-height: 460px;
  margin-bottom: 45px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-item-title {
  width: 260px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.16px;
  color: rgba(70, 70, 70, 1);
}

.catalog-item-photo {
  width: 360px;
  height: 380px;
  margin-bottom: 35px;
}

.catalog-item-flag-new {
  position: absolute;
  top: 32px;
  right: 27px;
  display: none;
  width: 55px;
  height: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-item-flag-new-current {
  display: block;
}

.catalog-item-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 360px;
  padding-top: 170px;
  padding-bottom: 120px;
}

.btn.btn-in-cart,
.btn.btn-in-cart::before {
  width: 200px;
  margin: 0 auto;
}

.btn-in-compare {
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  font-family: "OpenSans", "Segoe UI", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.btn-in-compare:hover,
.btn-in-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.btn-in-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 70px;
  margin: 0;
  padding: 0;
  margin-top: -8px;
  margin-bottom: 73px;
  list-style: none;
  background-color: rgba(235, 235, 235, 1);
}

.pagination-item {
  min-width: 39px;
  text-align: center;
}

.pagination-item:first-child {
  flex: 1;
  text-align: left;
}

.pagination-item:last-child {
  flex: 1;
  text-align: right;
}

.pagination-item a {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active,
.pagination-item.pagination-item-current a {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-prev a,
.pagination-item-next a {
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 31px;
  padding-right: 25px;
  color: rgba(0, 0, 0, 1);
}

.pagination-item-prev a:hover,
.pagination-item-next a:hover {
  background-color: rgba(217, 217, 217, 1);
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
  background-color: rgba(217, 217, 217, 1);
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
  color: rgba(0, 0, 0, 0.3);
}
